# See http://help.github.com/ignore-files/ for more about ignoring files.

# Laravel
/.phpunit.cache
/bootstrap/ssr
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.phpunit.cache
Homestead.json
Homestead.yaml
auth.json

# compiled output
dist
tmp
/out-tsc
tsconfig.app.tsbuildinfo
*.tsbuildinfo

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/.fleet

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
/.pnp
.pnp.js

# System Files
.DS_Store
Thumbs.db

# nx
.nx/cache
.nx/workspace-data

# vite
vite.config.mts.timestamp*

# local env files
# do not commit any .env files to git, except for the .env.example file.
.env
.env.*
!.env.example
!/documentation/api/.env.example
