# Add files here to ignore them from prettier formatting
/.devcontainer
/.idea
/.nx
/.vscode
/assets
/dist
/coverage
documentation/api
/.nx/cache
/.nx/workspace-data
/public
/tmp
/vendor
.env.*
*.sh
composer.lock
CHANGELOG.md
package.json
package-lock.json
tsconfig.*.json
