includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app/
        - bootstrap/
        # - config/
        # - database/factories/
        - database/migrations/
        - database/seeders/
        - resources/
        - resources/views/emails/
        - routes/
        # - tests/

    # Level 10 is the highest level
    level: max

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
